@model BuisnessLogic.TxtReader

@{
    ViewData["Title"] = "AddNewWordInFile";
}

<h1>Add New Word In File</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            
                @Html.TextBox("AddString")<input type="submit" value="Add" />  
        }
    </div>
</div>
    <h3>@ViewData["Message"]</h3>

<div>
    <a asp-action="WordsList">Back to List</a>
</div>

